.about-title {
    margin-top: 16px;
    text-align: center;
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-img {
    border: 8px solid #ccc;
    border-radius: 60px;
    margin-bottom: 20px;
}

.about-info {
    padding-left: 10px;
    font-weight: 500;
    line-height: 1.6;
    text-align: center;
    p {
        padding-left: 10px;
    }
}

.about-links{
    display: flex;
}
