.main-header-wrapper {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    height: 80px;
    filter: drop-shadow(0 0 10px #f0f0f0);
}

.main-header {
    height: 80px;
    width: 100%;
    top: 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-btn {
    cursor: pointer;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 36px;
    margin-left: 10px;

    .bar {
        height: 3px;
        width: 105%;
        background-color: #43c155;
        border-radius: 10px;
        transition: all 0.5s ease-in-out;
    }

    &.active {
        .bar:first-child {
            transform: rotate(46deg) translateX(12px);
        }

        .bar:last-child {
            transform: rotate(-49deg) translateX(13px);
        }

        .bar:nth-child(even) {
            display: none;
        }
    }
}

.navs {
    display: flex;
    margin: 0 15px;
    .navs-child {
        cursor: pointer;
        padding: 5px;
        transition: 0s;
        align-self: center;
        color: #4f4f4f !important;
        &:hover {
            color: #ff000000;
            border-bottom: 2px solid #999999;
        }
        &.explore {
            padding: 10px 20px 10px;
            align-self: center;
            background-color: #62cb66;
            color: #fff !important;
            border-radius: 3em;
        }
    }
}

.header-search-container {
    width: 28%;
    background-color: #ffffff;
}

.header-search {
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #dcdcdc;
}

.header-search .search-btn {
    height: 30px;
    width: 40px;
}

.purchase-notification {
    position: absolute;
    top: 80px;
    width: -webkit-fill-available;
    background-color: #626262;
    color: white;
    font-size: 24px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 60%;
    font-size: 20px;
    border: 2px solid #ffffff;
}

.close-notification {
    background: #fff;
    color: green;
    border-radius: 8px;
    border: 2px solid green;
    padding: 7px;
    width: 40px;
}

.right-end {
    display: flex;
    align-items: center;
}

.left-end {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 15px;
    background-color: #ffffff;
}

.logo {
    .logo-img {
        object-fit: cover;
    }
}

.nav-override-color {
    color: #4f4f4f !important;
}

.nav-btn {
    min-height: 40px;
}

.header-buy {
    cursor: pointer;
    padding: 10px 30px 10px;
    background-color: #62cb66;
    color: #fff !important;
    border-radius: 0px;
    font-size: x-large;
    font-family: "Varela Round", sans-serif;
    max-width: 250px;
    position: fixed;
    justify-self: flex-end;
    align-self: flex-end;
    top: 70px;
    z-index: 3;
    border: 10px solid #ffffff;
    filter: drop-shadow(0px 10px 10px #f0f0f0);
}

.header-none {
    display: none;
}

@media (max-width: 850px) {
    .main-header {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .icons {
        position: absolute;
        top: 21px;
        right: 15px;
        display: flex;
    }

    .menu-btn {
        display: flex;
    }

    .navs {
        display: none;
        &.active {
            display: flex;
            flex-direction: column;
            width: 100%;
            background-color: RGBA(215, 255, 220, 1);
            position: absolute;
            top: 150px;
            padding-bottom: 10px;
            margin: 0;
            &.home {
                top: 80px;
            }
        }
    }

    .header-search-container {
        width: 100%;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 67px;
        height: 92px;
        align-items: center;

        &.active {
            background-color: RGBA(215, 255, 220, 1);
            .header-search {
                border: 1px solid #ffffff;
            }
        }

        .header-search {
            width: 100%;
            margin: 0 15px;
        }
    }
}

@media (max-width: 450px) {
    .header-buy {
        display: none;
    }
}
