.main-user-container {
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1120px;
}

.dash {
  background-color: rgb(248, 246, 246);
}

.money {
  color: #62cb66;
}

.mt50 {
  margin-top: rem(50px);
  padding-top: rem(20px);
}

.persinal-info {
  justify-items: center;
}

.profile-pic {
  max-width: 250px;
  max-height: 250px;
  border-radius: 50%;
}

.dashbord-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 70px 70px 70px 70px;
  -moz-border-radius: 70px 70px 70px 70px;
  -webkit-border-radius: 70px 70px 70px 70px;
  border: 8px solid #000000;
  background-color: #71c468;
  text-align: center;
  margin-left: 50px;
  margin-bottom: 50px;
  color: $clr1;
}

.main-info-container {
  margin-bottom: rem(50px);
}

.profile-top-bar {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile-bar-left {
  width: 90%;
  text-align: start;
  padding-right: 50px;
}

.profile-bar-right {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.user-activity-preview {
  height: fit-content;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #333333;
  margin-bottom: 0.4rem;
  & img {
    width: rem(100px);
  }
}

.timetable {
  border: 0px solid #333333;
  margin: 0;
  padding: 0;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 60px repeat(7, 20px);
  grid-template-rows: repeat(12, 20px);
}

.titleWrapper {
  font-weight: 600;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  display: grid;
  grid-column: 1 / 9;
  grid-gap: 4px;
  grid-template-columns: 60px repeat(7, 20px);
  margin-bottom: 10px;
  border-bottom: 1px solid #ffffff00;
  justify-items: center;
}

.timeWrapper {
  margin: 0;
  padding: 0;
  display: grid;
  grid-row: 2 / 14;
  grid-gap: 4px;
  grid-template-rows: repeat(12, 20px);
}

.main-info-table {
  margin: 0;
  padding: 0;
  display: grid;
  grid-row: 2 / 14;
  grid-gap: 4px;
  grid-template-rows: repeat(12, 15px);
}

.yellow {
  background-color: #62cb66;
}

.white {
  background-color: #e9eaeb;
}


@media (max-width: 850px) {
  .main-user-container {
    margin-top: 180px;
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media (max-width: 400px){
  .main-user-container {
    margin-top: 180px;
    margin-left: 2%;
    margin-right: 2%;
  }
}
