// Colors
$clr1: #f6f6f6;
$clr2: #323232;
$clr3: #a7d129;
$clr4: #616f39;
$clr5: #3e432e;
$clr6: #4c4c4c;
$clr7: #2222;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;